!!!
%head
	%meta(charset="UTF-8")
	%title #{ data.page.title || "Untitled" } &rsaquo; Local Yokals Society

	<!--[if lt IE 9]>
	= javascript_include_tag "html5shiv.js"
	| <![endif]-->

	<!--[if lt IE 7]>
	= stylesheet_link_tag "old-browser"
	<![endif]-->

	= stylesheet_link_tag "//fonts.googleapis.com/css?family=PT+Sans:400,700"
	= stylesheet_link_tag "site"
	- if current_page.data.style
		- current_page.data.style.each do |style|
			= stylesheet_link_tag style

	<!--[if lt IE 7]>
	= stylesheet_link_tag "old-browser"
	<![endif]-->

%body{class: page_classes}
	%header.site-header
		.container
			.site-header-logo
				%h1= link_to "Cultivating Local Yokals", "/"
			= partial "layouts/menu"

	.contentwrapper
		.container
			.content= yield

			.sidebar
				.widget
					%h2 Support Our Society
					%p
						If you would like to show your support for our society,
						we would appreciate anything you can do!
					%p.important
						= link_to "Donate", "/donate", class: "button button-donate"
						&nbsp; or &nbsp;
						= link_to "Volunteer", "/contact", class: "button button-volunteer"

	= partial "layouts/analytics"

	- if current_page.data.js
		- current_page.data.js.each do |js|
			= javascript_include_tag js
