<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }} - Cultivating Local Yokals</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css">
    {% for sheet in style %}
      <link rel="stylesheet" href="/css/{{ sheet }}.css" type="text/css">
    {% endfor %}
  </head>
  <body class="{{ page_class }}">

    <header class="site-header"><div class="container">
      <div class="site-header-logo">
        <h1><a href="/">Cultivating Local Yokals</a></h1>
      </div>
      <nav class="main-menu">
        <div class="container">
          <ul>
            <li id="nav-news"><a href="/">News</a></li>
            <li id="nav-projects"><a href="/projects">Projects</a></li>
            <li id="nav-photos"><a href="/photos">Photos</a></li>
            <li id="nav-about"><a href="/about">About Us</a></li>
            <li id="nav-sponsors"><a href="/sponsors">Sponsors</a></li>
            <li id="nav-contact"><a href="/contact">Contact</a></li>
            <li id="nav-donate"><a href="/donate">Donate!</a></li>
          </ul>
        </div>
      </nav>
    </div></header>

    {{ content | safe }}

    {% for script in js %}
      <script src="/js/{{ script }}.js"></script>
    {% endfor %}

    <script>
      //(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,"script","//www.google-analytics.com/analytics.js","ga"); ga("create", "UA-60803324-1", "auto"); ga("send", "pageview");
    </script>
  </body>
</html>
