---
title: Photo Gallery
page_class: photos
stylesheets: ["lightbox"]
javascripts: ["jquery.min", "lightbox"]
---

<% data.photos.galleries.each do |gallery| %>
<section class="gallery" id="<%= gallery.slug %>">
  <header>
    <h1><%= gallery.name %></h1>
  </header>

  <ul class="gallery-photos">
  <% gallery.photos.each do |photo| %>
    <li class="photo">
      <a href="/images/gallery/<%= gallery.slug %>/<%= photo.slug %>.jpg" data-fancybox="<%= gallery.slug %>" data-caption="<%= photo.caption %>">
        <img src="/images/gallery/<%= gallery.slug %>/thumbs/<%= photo.slug %>_thumb.jpg" width="171" height="128" alt="<%= photo.alt %>">
      </a>
    </li>
  <% end %>
  </ul>
</section>
<% end %>
